{% extends 'base.html' %} {% block content %}
<h2>Flashcards</h2>
<!-- <p>The flashcards inside deck Math (for now)</p> -->
<p>Deck: {{ deck }}</p>
<ul>
  {% for flashcard in flashcards %}

  <div class="flashcard">
    <div class="flashcard-inner">
      <div class="flashcard-question">{{ flashcard.question }}</div>
      <div class="flashcard-answer">
        {{ flashcard.answer }}
        <button id="correct" onclick="">I knew that!</button>
        <button id="incorrect">I didn't know that!</button>
      </div>
    </div>
  </div>

  <li>
    <a href="{% url 'edit_flashcard' flashcard.pk %}">Edit</a>
    <a href="{% url 'delete_flashcard' flashcard.pk %}">Delete</a>
  </li>
  {% endfor %}
</ul>
<a href="{% url 'create_flashcard' deck.pk %}">Create New Flashcard</a>
{% endblock %}
